:root{
    --primary-color: #253DA1;
    --secondary-color: #808080;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 20px 35px;
    top: 0;
}

Header nav{
    margin: 7px 0;
}

header h1{
   
    font-weight: bold;
    margin: 0;
    color: var(--pirmary-color);
}

header ul {
    display: flex;
    flex-wrap: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a{
    
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.5vw;
}

header a{
    text-decoration: none;
    color: var(--pirmary-color);
}

.about{
    background-color: var(--secondary-color)
}

.about h2{
    padding: 5px 0 5px 15px;
}

.about article{
    margin: auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: auto;
}


.flex-row{
    display: flex
}

.project img{
    max-width: 50%;
    min-width:40%;

}

.projects{

    width: 100%;
    align-items: center;
    justify-content:center;
    display: flex;
    flex-wrap: wrap;
}

.project{
    
    flex-direction: row;
    border: solid 10px black;
   
    display: inline-flex;
    width: 450px;
    
    flex-wrap: wrap;
    display: flex;
    margin: 20px;
    flex: 1;
}

.project-info{
    
    width: 200px;
}

.grow:hover .project{
    width: 500px;
    height: 300px;
}

.title{
    display: flex;
    justify-content: center;
}

.resume-img{
    display: flex;
    justify-content: center;
}

.contact-info{
    display: flex;
    justify-content: center;
    background-color: var(--secondary-color);
    
}



.contact-form input, .contact-form textarea{
    background-color: rgba(255,255,255, 0.8);
    border-radius: 15px;
    border: 1px solid var(--primary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color:#024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form input:focus, .contact-form textarea:focus{
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.contact-form button{
    border-radius: 15px;
    width: 100%;
    border: none;
    background: var(black);
    color: var(--primary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-form button:hover{
    color:black;
    background: var(--primary-color);
}

 /*SLIDING TEXT FEATURE

.container{
    width:100%;
    height: 100%;
    position: relative;
    margin: 30px;
}

.underneath{
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 200%;
    text-align: center;
    opacity: 0.7;
    
}

.on-top{
    text-align: center;
    z-index: 9;
    margin: 30px;
    width: 75%;
    height: 75%;
    
} */

